@page "/labels"
@inject HttpClient Http
@using System.Collections.ObjectModel
@using System.Collections.Specialized
@using System.ComponentModel

<PageTitle>Labels</PageTitle>

<h3>Labels</h3>

<div class="labels">
    @foreach (var index in LabelItems.Select((e, i) => i))
    {
        <input type="text" class="label-text editable-input" style="background: @LabelItems[index].Background; color: @LabelItems[index].Color" @bind-value="LabelItems[index].Title" />
        <input class="label-background editable-input" type="color" style="background: @LabelItems[index].Background" @bind-value="LabelItems[index].Background" />
        <input class="label-color editable-input" type="color" style="background: @LabelItems[index].Background" @bind-value="LabelItems[index].Color" />
        <button class="btn btn-primary" @onclick="() => DeleteLabel(index)">x</button>
    }
</div>

<button class="btn btn-primary" @onclick="AddLabel">+</button>

@code {
    private ObservableCollection<Label> LabelItems { get; set; } = new();

    protected override async void OnInitialized()
    {
        var labels = await Http.GetFromJsonAsync<List<Label>>("api/labels");
        if (labels != null)
        {
            LabelItems = new ObservableCollection<Label>(labels);
            foreach (var item in LabelItems)
            {
                item.PropertyChanged += UpdateServer;
            }
            StateHasChanged();
        }
        LabelItems.CollectionChanged += UpdateServer;
    }

    private async void AddLabel()
    {
        var random = new Random();
        var newLabel = new Label("Label", "#000000", $"#{random.Next(0, 256).ToString("X2")}{random.Next(0, 256).ToString("X2")}{random.Next(0, 256).ToString("X2")}");
        newLabel.PropertyChanged += UpdateServer;
        LabelItems.Add(newLabel);
    }

    private async void DeleteLabel(int index)
    {
        LabelItems.RemoveAt(index);
        //await Http.PutAsJsonAsync("api/labels", LabelItems);
    }

    private async void UpdateServer(object sender, NotifyCollectionChangedEventArgs e)
    {
        await Http.PutAsJsonAsync("api/labels", LabelItems);
    }

    private async void UpdateServer(object sender, PropertyChangedEventArgs e)
    {
        await Http.PutAsJsonAsync("api/labels", LabelItems);
    }
}
