.labels {
    display: grid;
    grid-template-columns: 300px;
    grid-row-gap: 5px;
    margin: 5px 0;
}

.label {
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr 30px 30px 30px;
    grid-row-gap: 5px;
    overflow: hidden;
}

.label-element {
    padding: 5px;
    height: 100%;
    width: 100%;
    background: inherit;
    color: inherit;
}

.label-text {
    border-radius: var(--label-border-radius) 0 0 var(--label-border-radius);
}

.label-background {
    border: 0;
    cursor: pointer;
}

.label-color {
    border: 0;
    cursor: pointer;
}

.label-delete {
    border-radius: 0 var(--label-border-radius) var(--label-border-radius) 0;
    cursor: pointer;
}
