html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

.editable-input {
    outline: none;
    border: 0;
}

.editable-input:focus, .editable-input:active {
    border: 1px solid black;
}
