<nav>
    <div class="nav-item navbar-brand">
        <img src="_content/Common/images/favicon.png" class="navbar-brand-image" />
        BlazorBoards
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <Icon Name="IconName.Home" /> Boards
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="labels">
            <Icon Name="IconName.List" /> Labels
        </NavLink>
    </div>
</nav>
