<div class="card board">
    <h5>@BoardData.Title</h5>
    <div>
        @foreach (var index in BoardData.Tasks.Select((e, i) => i))
        {
            <TaskOverview @bind-TaskData="BoardData.Tasks[index]" />
        }
    </div>
</div>

@code {
    [Parameter]
    public Board BoardData { get; set; }

    [Parameter]
    public EventCallback<Board> BoardDataChanged { get; set; }
}
