<div class="card board">
    <h5>@BoardData.Title</h5>
    <div>
        @foreach (var index in BoardData.Tasks.Select((e, i) => i))
        {
            <TaskOverview @bind-TaskData="BoardData.Tasks[index]" />
        }
        <div class="add-task">
            <button class="btn btn-outline-primary" @onclick="AddTask">+</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Board BoardData { get; set; }

    [Parameter]
    public EventCallback<Board> BoardDataChanged { get; set; }

    private void AddTask()
    {
        BoardData.Tasks.Add(new TaskItem("Task"));
        BoardDataChanged.InvokeAsync(BoardData);
    }
}
