.card {
    margin: 5px 0;
    padding: 5px;
    cursor: pointer;
}

.task-header {
    display: flex;
}

.task-label {
    border-radius: 4px;
    font-size: 0.7rem;
    background-color: gray;
    color: white;
    padding: 0 2px;
    margin: 0 4px 5px 0;
}

.task-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task-checklist {
    border-radius: 4px;
    font-size: 0.7rem;
    padding: 3px;
    margin: 0 5px 0 0;
}

.task-deadline {
    border-radius: 4px;
    font-size: 0.7rem;
    padding: 2px;
}
