<li>
    <input type="checkbox" checked="@TodoItem.IsDone" value="@TodoItem.IsDone" @onchange="OnIsDoneChanged" />
    <input value="@TodoItem.Title" @onchange="OnTitleChanged" />
</li>

@code {
    [Parameter]
    public ChecklistItem TodoItem { get; set; }

    [Parameter]
    public EventCallback<ChecklistItem> TodoItemChanged { get; set; }

    protected async Task OnTitleChanged(ChangeEventArgs e)
    {
        TodoItem.Title = (string)e.Value;
        await TodoItemChanged.InvokeAsync(TodoItem);
    }

    protected async Task OnIsDoneChanged(ChangeEventArgs e)
    {
        TodoItem.IsDone = (bool)e.Value;
        await TodoItemChanged.InvokeAsync(TodoItem);
    }
}
