@page "/"

<PageTitle>BlazorBoards</PageTitle>

<div>
    <h1>@_Boards.Count</h1>
    @foreach (var board in _Boards)
    {
        <TaskBoard BoardData="board" />
    }
</div>

<!--

Boards -> BoardComponent
   Cards (Deadline, Title, Description, ToDos, ...) -> CardOverview, CardDetails

C#-Classes
Board
Task
ChecklistItem
Label


SQL:
Boards
- id
- name

Tasks
- id
- board_id
- [label_id]
- title
...

Labels
- id
- title
- color
-->
@code {
    private new List<Board> _Boards { get; set; }

    protected override void OnInitialized()
    {
        _Boards = new List<Board>();
        _Boards.Add(new Board("In progress") { });
        _Boards.Add(new Board("Backlog") { });
        _Boards.Add(new Board("Done") { });
    }
}
