@page "/"

<PageTitle>BlazorBoards</PageTitle>

<div class="boards">
    @foreach (var index in _Boards.Select((e, i) => i))
    {
        <TaskBoard @bind-BoardData="_Boards[index]" />
    }
</div>

<!--

Boards -> BoardComponent
   Cards (Deadline, Title, Description, ToDos, ...) -> CardOverview, CardDetails

C#-Classes
Board
Task
ChecklistItem
Label


SQL:
Boards
- id
- name

Tasks
- id
- board_id
- [label_id]
- title
...

Labels
- id
- title
- color
-->
@code {
    private new List<Board> _Boards { get; set; }

    protected override void OnInitialized()
    {
        _Boards = new List<Board>();
        _Boards.Add(new Board("In progress") { });
        _Boards.Add(new Board("Backlog") { });
        _Boards.Add(new Board("Done") { });
        _Boards[0].Tasks.Add(new TaskItem("Task 1") { });
        _Boards[0].Tasks.Add(new TaskItem("Task 2") { });
        _Boards[1].Tasks.Add(new TaskItem("Task 1") { });
        _Boards[1].Tasks.Add(new TaskItem("Task 2") { });
    }
}
