@page "/todo"

<PageTitle>Todo</PageTitle>

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var element in todos.Select((e,i) => new { Todo = e, Index = i}))
    {
        <TodoItemComponent @bind-TodoItem="todos[element.Index]" />
    }
</ul>

<input placeholder="Something todo" @bind="newTodoTitle" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<ChecklistItem> todos = new() { };

    public int index;

    private string newTodoTitle = string.Empty;
    private void AddTodo()
    {
        todos.Add(new ChecklistItem(newTodoTitle) { });
        newTodoTitle = string.Empty;
    }
}
